@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Jost", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

.ff-jost {
  font-family: "Jost", sans-serif;
}

.header-bg {
  background-image: url('./assets/images/png/header-bg.png');
}

.button-gradient {
  background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);
  transition: all 200ms linear;
}

.button-gradient:hover {
  box-shadow: 4px 4px 12px orangered;
  border-radius: 10px !important;
}

.nav_link:hover {
  background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li::marker {
  font-size: 9px;
}

.before-arrow::after {
  content: url('./assets/images/svg/arrow-icon.svg');
  position: absolute;
  right: -23px;
  top: 0;
  transition: all 200ms linear;
}

.course-card:hover .before-arrow::after {
  right: -30px;
}