@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
}

.button-gradient:hover {
  box-shadow: 4px 4px 12px orangered;
  border-radius: 10px !important;
}

.nav_link:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li::marker {
  font-size: 9px;
}

.reviews-card-section .slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
  padding-inline: 12px !important;
}

.slick-slide>div {
  display: flex;
}

.slick-dots li button:before {
  color: white !important;
}

.slick-dots {
  bottom: -40px !important;
}